body {margin: 0; background-color: #EEEEEE;
}
#hr {margin: 0;
}
#main {max-width: 100%; display: grid; 
       grid-template-columns: 3fr 3fr 3fr;
}
#bin{background-color: #EEEEEE;
}
#hyun{background-color: #EEEEEE;
}
#ju{background-color: #EEEEEE;
}
/* 
#bindiv{background-color: #343333;
}
#hyundiv{background-color: #343333;
}
#judiv{background-color: #343333;
} */