body {margin: 0; background-color: #EEEEEE;
} 

#hr {margin: 0;
} 

#main {max-width: 100%; display: grid; 
       grid-template-columns: 3fr 3fr 3fr;
}

/* #bindiv{background-color: #343333;
}

#bin{background-color:#343333;  
}

#hyundiv{background-color: #343333;
}

#hyun{background-color:#343333;  
}


#judiv{background-color: #343333;
}

#ju{background-color:#343333;  
} */
